//Media Queries

//Big Smartphone devices
@mixin phoneLg {
  @media screen and (min-width: 414px) {
    @content;
  }
}

//Tablet devices
@mixin tabScreen {
  @media screen and (min-width: 600px) {
    @content;
  }
}

//Small screen laptops
@mixin laptopSmall {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

//Large screen laptops
@mixin laptopLarge {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

//Text
.eighteen-px {
  font-size: 1.24rem;
}

.sixteen-px {
  font-size: 1rem;
}

.fourteen-px {
  font-size: 0.96rem;
}

.thirteen-px {
  font-size: 0.88rem;
}

//Hide Scrollbar
@mixin scrollHide {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
